.default-color0.chart-pie { -fx-pie-color: #8980ef; }
.default-color1.chart-pie { -fx-pie-color: #f25333; }
.default-color2.chart-pie { -fx-pie-color: #ff13bf; }
.default-color3.chart-pie { -fx-pie-color: #4caf50; }